@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$base-font-size: clamp(0.875rem, 0.853rem + 0.094vw, 0.938rem);

@layer base {
  html {
    font-family: 'Overpass', sans-serif;
    font-size: $base-font-size;
    @apply leading-6 tracking-normal;
  }

  .app-circle-bg {
    background: radial-gradient(circle, #232A34, #181E27);
    @apply rounded-full aspect-square grid place-content-center;
  }

  .app-text-heading-large {
    @apply font-bold tracking-normal;
    font-size: 1.87rem;
  }

  .app-text-heading-medium {
    @apply font-bold;
    letter-spacing: .13rem;
  }

  .app-text-rating {
    @apply font-bold leading-6;
    letter-spacing: .013rem;
    font-size: 1.07rem;
  }


}